body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: #efe8dc;
    color: black;
    line-height: 1.6;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    color: #333
}

header {
  background: #333;
  color: #333;
  text-align: center;
  padding: 30px 10px;
}

header h1,
header h3 {
  margin: 0;
  color: #efe8dc;
}

header h3 {
  margin-top: 5px;
  font-weight: normal;
}

.content h2 {
  text-align: center;
  color: #333;
}

.content {
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

.portrait {
    display: block;
    max-width: 200px;
    margin: 20 px auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

ol, ul {
    margin-left: 40px;
}

.btn {
    display: inline;
    background: #333;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #efe8dc;
    color: #333;
    borde: 1px solid #333;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
